__pycache__/
.pytest_cache/
tests/__pycache__/
tests/steps/__pycache__/
llm/__pycache__/
__pycache__/
*.py[cod]
*.pyo
*.pyd

.env

llm_env/

.venv/
venv/
env/

*.pt
*.pth
*.bin
*.ckpt

# Hugging Face cache 
.cache/
.huggingface/
hf_cache/

playwright-report/
test-results